<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xfdmao.fcat.user.mapper.TAuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.xfdmao.fcat.user.entity.TAuthority" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="authority_id" property="authorityId" jdbcType="INTEGER" />
    <result column="authority_type" property="authorityType" jdbcType="VARCHAR" />
    <result column="resource_id" property="resourceId" jdbcType="INTEGER" />
    <result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <delete id="deleteByGroupId">
    delete from t_authority
    where authority_id=#{groupId}
    and authority_type = "group"
  </delete>

    <select id="getListByAuthorityId" parameterType="Integer" resultMap="BaseResultMap"
            statementType="PREPARED">
        SELECT a.*
        FROM t_authority a WHERE a.authority_id=#{authorityId}
    </select>


</mapper>