<my-info   [msg]="msg" (msg_)="msg_($event)"></my-info>
<section class="content-header">
  <h1>
    {{secondName}}
    <small>{{firstName}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ><i class="fa fa-dashboard"></i> 首页</a></li>
    <li><a >{{firstName}}</a></li>
    <li class="active">{{secondName}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">组织类型更新</h3>

        </div>
        <!-- /.box-header -->
        <div class="panel-body">
          <form class="form-horizontal" (ngSubmit)="onSubmit()" name="tGroupTypeform">
            <div class="form-group" *ngIf="false">
              <label class="col-sm-2 control-label">ID编号</label>
              <div class="col-sm-10">
                <input [(ngModel)]="tGroupType.id" name="id" type="text" class="form-control rounded">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">名称</label>
              <div class="col-sm-10">
                <input [(ngModel)]="tGroupType.name" name="name" type="text" class="form-control rounded">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">编号</label>
              <div class="col-sm-10">
                <input [(ngModel)]="tGroupType.code" name="code" type="text" class="form-control rounded">
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button type="button" class="btn btn-default" (click)="goBack()">返回</button>
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
