<div class="wrapper">

  <my-header></my-header>

  <!-- Left side column. contains the logo and sidebar -->
  <my-aside></my-aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 883px;">
    <router-outlet>
    

    </router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>FCat Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2014-2018  想飞的猫 .</strong>
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
